{% extends "main.html" %}

{% block title %}
<title> Taskmate-about </title>
{% endblock title %}
{% block content %}
</br>
<h1> {{todo_about}} </h1>
<h3>And challenging the status quo with simple yet powerful tools</h3>
<p>
    <i>Todoist: <abbr>The top-ranked productivity app</abbr> that brings clarity 
    and efficiency to millions of people and teams.
    The only asynchronous-first collaboration app that encourages teams to focus, 
    create, and disconnect.</i>
</p>
{% endblock content %}