{% extends "main.html" %}

{% block title %}
    <title>Edit task</title>
{% endblock title %}

{% block content %}
<div class="container">
    <br>
    {% if task_obj.manager == request.user %}    
        <form method="POST" class="row">
            {% csrf_token %}
            <label class="col-lg-2"></label>
            <input type="text" class="form-control col-lg-6" name="task" placeholder="{{ task_obj.task }}" value="{{ task_obj.task }}">
            <input type="hidden" name="done" value="{{ task_obj.done }}">
            <br>
            <button type="submit" class="btn btn-primary col-lg-2">Update task</button>
        </form>
    {% else %}
        <p>Access denied! you are not allowed to access this page</p>
    {% endif %}
</div>
{% endblock content %}
