{% extends "main.html" %}
{% load static %}
{% block title %}
<title> Taskmate-Features </title>
{% endblock title %}
{% block content %}
</br>
</br>
</br>
</br>
<h1 style='color:magenta'> {{todo_features}} </h1>
</br>
<img src="{% static "images/todofeat.png" %} " width="1000" height="400" alt="Note">
<center><h1><del>Overwhelmed</del> On top of it</h1></center>
</br>
<center><p> 
    Todoist makes it <strong>frictionless</strong> to get all your <ins>tasks</ins> out of your head 
    and <em>organized</em> in one trusted place. 
</p></center>
</br>
{% endblock content %}