{% extends "main.html" %}
{% load static %}
{% block title %}
    <title>Todolist</title>
{% endblock title %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
</br>

{% if user.is_authenticated %}
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
        </br>
            <h5 style="color: purple">Login as {{ user.username }}!</h5>
            <button><span class="text">Logout</span><span class="shimmer"></span></button>
        </form>
    {% else %}
    </br>
        <p>You are not logged in<a href="{% url 'login' %}"> click here </a>to login</p>
        <p>Don't have any account<a href="{% url 'register' %}"> click here </a>to register</p>
        
    {% endif %}
</br>
<h1 align='center'>{{todo_index}}</h1>
<div class="container">
    <div class="row mt-5">
        <div class="col-lg-4" class="shadow-lg p-3 mb-5 bg-white rounded">
            <img src="{% static "images/1.png" %} " class="rounded-pill" width="240" height="240" alt="Note">
        </div>
        <div class="col-lg-4" class="shadow-lg p-3 mb-5 bg-white rounded">
            <img src="{% static "images/2.png" %}" class="rounded-pill" width="240" height="240" alt="Note">
        </div>
        <div class="col-lg-4" class="shadow-lg p-3 mb-5 bg-white rounded">
            <img src="{% static "images/3.png" %}" class="rounded-pill"  alt="Note">
        </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-10 offset-md-1">
        <center><p class = "h1 text-primary">"Notepad is a simple text editor for Windows; it creates and edits plain text documents."</p></center>
        <center><p class = "h4 text-dark">'First released in 1983 to commercialize the computer mouse in MS-DOS.'</p></center>
        <center><p class = "h6 text-danger">'Notepad has been part of every version of Windows ever since.'</p></center>
    </br>
        <center>
            <a href="{% url 'todolist' %}">
                <button><span class="text">Let'sget Start</span><span class="shimmer"></span></button>
            </a>
        </center>
{% endblock content %}