{% extends "main.html" %}
{% load static %}
{% block title %}
    <title>Todolist</title>
{% endblock title %}
{% block content %}
<style>
    @import: url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
body {
  font-family: 'Roboto Condensed', sans-serif;
  height: 100%;
  background-color: black;
  color: #fff;
  {% comment %} text-transform: uppercase; {% endcomment %}
}
.container {
  {% comment %} text-align: center; {% endcomment %}
}
h1 {
  margin-left: 30px;
  margin-bottom: 50px;
}
.button {
  width: 170px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  display: inline-block;
}

.button-1 {
  background-color: transparent;
  border: 3px solid #00d7c3;
  border-radius: 50px;
  padding: 5px 10px; 
  font-size: 12px;
  width: 200px;
  height: 50px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color: #00d7c3;
}
.button-1:hover {
  box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
  border: 3px solid #00d7c3;
}

.button-2 {
  color: #fff;
  border: 3px solid #c266d3;
  background-image: -webkit-linear-gradient(30deg, #c266d3 50%, transparent 50%);
  background-image: linear-gradient(30deg, #c266d3 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.button-2:hover {
  background-position: 100%;
  color: #c266d3;
}

.button-3 {
  border: 2px solid #3c73ff;
  background-color: #3c73ff;
  border-radius: 20px;
  color: #fff;
  transition: .3s;
}
.button-3:hover {
  box-shadow: 8px 8px #99bdff;
  transition: .3s;
}

.button-4 {
    background-color: transparent;
    border: 2px solid #ff0251; 
    color: #ff0251;
    padding: 5px 10px; 
    font-size: 12px;
    width: 100px;
    height: 40px; 
    transition: .3s;
  }
  
.button-4:hover {
  animation: pulse 1s infinite;
  transition: .3s;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(.9);
  }
    100% {
    transform: scale(1);
  }
}

.button-5 {
  width: 200px;
  border-radius: 5px;
  background-color: #F4F200;
  background-image: #F4F200;
  background-image: -moz-linear-gradient(top, #fff 0%, #F4F200 100%); 
  background-image: -webkit-linear-gradient(top, #fff 0%,#F4F200 100%); 
  background-image: linear-gradient(to bottom, #fff 0%,#F4F200 100%); 
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.button-5:hover {
  background-position: -200%;
  transition: background 300ms ease-in-out;
}

</style>
</br>

{% if user.is_authenticated %}
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
        </br>
            <h5 class="text text-white">Login as {{ user.username }}!</h5>
            <button type="submit" class="button button-4">Log Out</button>
        </form>
    {% else %}
    </br>
        <p class='text-white'>You are not logged in<a href="{% url 'login' %}"> click here </a>to login</p>
        <p class='text-white'>Don't have any account<a href="{% url 'register' %}"> click here </a>to register</p>
        
    {% endif %}
</br>
<h1 class="text-white" align='center'>{{todo_index}}</h1>
<div class="main">
    <marquee class="marq"
             bgcolor="white"
             direction="left"
             loop="">
        <div class="geek1">Try Our Todoist page</div>
        <div class="geek2">
            You can visit our todolist page by click the <b>Let's get start </b> button given below             
        </div>
    </marquee>
</div>
<div class="container">
    <div class="row mt-5">
        <div class="col-lg-4" class="shadow-lg p-3 mb-5 bg-white rounded">
            <img src="{% static "images/1.png" %} " class="rounded-pill" width="240" height="240" alt="Note">
        </div>
        <div class="col-lg-4" class="shadow-lg p-3 mb-5 bg-white rounded">
            <img src="{% static "images/2.png" %}" class="rounded-pill" width="240" height="240" alt="Note">
        </div>
        <div class="col-lg-4" class="shadow-lg p-3 mb-5 bg-white rounded">
            <img src="{% static "images/3.png" %}" class="rounded-pill"  alt="Note">
        </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-10 offset-md-1">
        <center><p class = "h1 text-primary">"Notepad is a simple text editor for Windows; it creates and edits plain text documents."</p></center>
        <center><p class = "h4 text-white">'First released in 1983 to commercialize the computer mouse in MS-DOS.'</p></center>
        <center><p class = "h6 text-info">'Notepad has been part of every version of Windows ever since.'</p></center>
    </br>
        <center>
            <button type="submit" class="button button-1"><a href="{% url "todolist" %}">Let's get Start</a></button>
        </center>
    
{% endblock content %}