{% extends "main.html" %}
{% load static %}
{% block title %}
<title> Taskmate </title>
{% endblock title %}
{% block content %}
<style>
    html {
        height: 100%;
      }
      
      body {
        height: 100%;
        margin: 0;
      }
      
      .button_slide {
        color: #FFFFFF;
        border: 2px solid rgb(216, 2, 134);
        border-radius: 0px;
        padding: 5px 15px;
        display: inline-block;
        font-family: "Lucida Console", Monaco, monospace;
        font-size: 14px;
        letter-spacing: 1px;
        cursor: pointer;
        box-shadow: inset 0 0 0 0 #D80286;
        -webkit-transition: ease-out 0.4s;
        -moz-transition: ease-out 0.4s;
        transition: ease-out 0.4s;
      }
      
      .slide_down:hover {
        box-shadow: inset 0 100px 0 0 #D80286;
      }
      
      .slide_right:hover {
        box-shadow: inset 400px 0 0 0 #D80286;
      }
      
      .slide_left:hover {
        box-shadow: inset 0 0 0 50px #D80286;
      }
      
      .slide_diagonal:hover {
        box-shadow: inset 400px 50px 0 0 #D80286;
      }
      
      #outer {
        width: 364px;
        margin: 50px auto 0 auto;
        text-align: center;
      }
      .custom-btn {
        background-color: transparent !important;
        /* Add other custom styles if needed */
    }
    
</style>
</br>
{% if user.is_authenticated %}
<form method="post">
    {% csrf_token %}
</br>
    <h5 class="text text-white">Login as {{ user.username }}!</h5>
    <div class="d-grid gap-2 d-md-flex justify-content-md">
        <div class="button_slide slide_diagonal">
            <a href="{% url "logout" %}" class="btn btn-sm animated-button thar-four custom-btn"><h6 class='text-white'>Logout</h6></a>
        </div>
    </div>    
</form>
    {% else %}
        <p class="text text-white">You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}
    </br>
<div class="container"> 
    <div class="ticker"> 
        <div class="news">
            <marquee class="marq"
            bgcolor="white"
            direction="left"
            loop="" > 
                <p>You can note your tasks, you can view your tasks as much as you want and you can edit, delete and update your tasks as per your requirement</p> 
            </marquee> 
        </div> 
    </div> 
</div>
</br>
<h5 class="text-white">Todolist</h5>
<h6 class="text-white">
    Organize your work and life, finally.
    Become focused, organized, and calm with Todoist. 
    The world’s #1 task manager and to-do list app.
</h6>
</br>
{% for message in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    New task added successful
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
</br>
<form method = 'POST' class = 'row'>
    {% csrf_token %}
    <label class = 'text-white'>New Task</label>
    <input type="text" class="form-control col-lg-6"  name = 'task' placeholder = "New task?">
</br>
<div class="d-grid gap-2 d-md-flex justify-content-md">
    <button class="button_slide slide_left" type="submit" style="background-color: transparent;">Add task</button>
</div>

</form>
</br>
<div class='container'>
    <table class="table table-bordered border border-success text-center">
        <thead class="table table-dark">
          <tr>
            <th scope="col">Task</th>
            <th scope="col">Complete</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
            {% for obj in all_tasks  %}
            {% if obj.done%}
                <tr class="table-success">
                    <th scope="row">{{obj.task}}</td>
                    <td><a href = "{% url "pending" obj.id %}"><button type="button" class="button_slide slide_left" style="background-color: transparent;color: black;">Mark as Pending</button></a></td>
                    <td><a href = "{% url "edit" obj.id %}"><button type="button" class="button_slide slide_right" style="background-color: transparent;color: black;">Edit</button></a></td>
                    <td><a href = "{% url "delete" obj.id %}"><button type="button" class="button_slide slide_down" style="background-color: transparent;color: black;">Delete</button></a></td>
                </tr>
            {% else %}
                <tr>
                    <th scope="row">{{obj.task}}</td>
                    <td><a href = "{% url "complete" obj.id %}"><button type="button" class="button_slide slide_diagonal" style="background-color: transparent;color: black;">Mark as Complete</button></a></td>
                    <td><a href = "{% url "edit" obj.id %}"><button type="button" class="button_slide slide_right" style="background-color: transparent;color: black;">Edit</button></a></td>
                    <td><a href = "{% url "delete" obj.id %}"><button type="button" class="button_slide slide_down" style="background-color: transparent;color: black;">Delete</button></a></td>
                </tr>
            {% endif %}
            {% endfor %}
    </tbody>
    </table>
</br>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
      <li class="page-item"><a class="page-link" href="?pg=1">First</a></li>
      {% if all_tasks.number %}
      <li class="page-item"><a class="page-link" href="?pg= {{all_tasks.number}}">{{all_tasks.number}}</a></li>
      {% endif %}
      {% if all_tasks.has_next %}
      <li class="page-item"><a class="page-link" href="?pg= {{all_tasks.next_page_number}}">{{all_tasks.next_page_number}}</a></li>
      {% endif %}
      {% if all_tasks.has_num_pages %}
      <li class="page-item"><a class="page-link" href="?pg= {{all_tasks.paginator_num_pages}}">Last</a></li>
      {% endif %}
    </ul>
  </nav>
  <center>
    <p class = "h1 text-light">
        <b>Trusted by top product based companies</b>
    </p>
</center>
  <div class="container">
    <div class="row mt-5">
        <div class="col-md-2" class="shadow-lg p-3 mb-5 bg-white rounded">
            <img src="{% static "images/microsoft.jpeg" %} " class="rounded-pill" width="100" height="100" alt="Note"><p class="text-white container">Microsoft</p>
        </div>
        <div class="col-md-2" class="shadow-lg p-3 mb-5 bg-white rounded">
            <img src="{% static "images/amazon.jpeg" %}" class="rounded-pill" width="100" height="100" alt="Note"><p class="text-white container">Amazon</p>
        </div>
        <div class="col-md-2" class="shadow-lg p-3 mb-5 bg-white rounded">
            <img src="{% static "images/disney.jpeg" %}" class="rounded-pill" width="100" height="100" alt="Note"><p class="text-white container">Disney</p>
        </div>
        <div class="col-md-2" class="shadow-lg p-3 mb-5 bg-white rounded">
            <img src="{% static "images/netflix.png" %}" class="rounded-pill" width="100" height="100" alt="Note"><p class="text-white container">Netflix</p>
        </div>
        <div class="col-md-2" class="shadow-lg p-3 mb-5 bg-white rounded">
            <img src="{% static "images/salesforce.png" %}" class="rounded-pill" width="100" height="100" alt="Note"><p class="text-white container">Salesforce</p>
        </div>
        <div class="col-md-2" class="shadow-lg p-3 mb-5 bg-white rounded">
            <img src="{% static "images/meta.png" %}" class="rounded-pill" width="100" height="100" alt="Note"><p class="text-white container">Meta</p>
        </div>
    </div>
  </div>
</br>
<center>
    <p class='text-white'>
        <i>42+ million people and teams trust their sanity and productivity to Todoist</i>
    </p>
</center>
<div class='container'>
    {{ redirect_to_login_immediately }}
</div>
</br>
</br>
</br>
</br>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
{% endblock content %}