{% extends "main.html" %}

{% load crispy_forms_tags %}

{% block title %}
<title>User Login</title>

{% endblock title %}
</br>
<h2>Welcome to Login Page</h2>
{% block content %}
</br>
{% for message in messages  %}
    <div class = "alert alert-danger alert-dismissible fade show" role="alert {{ message.tags }}">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}
<style>
    .loginfrm 
    {
        color: white;
    }
    html,
    body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
        </style>
<div class='container'>
    <form method='POST' class="loginfrm mt-5 col-6">
        {% csrf_token %}
        {{form|crispy}}
        <button type='submit' class="glow-on-hover">Login</button>
    </form>
</br>
    
</div>
</br>
<form action="{% url 'register' %}" class= 'mt-5 col-6'>
    {% csrf_token %}
    <p class="text text-white">If you don't you have account</p>
    {{register_form|crispy}}
    <button type="submit" class="glow-on-hover">Register</button>
</form>


{% endblock content %}



