{% extends "main.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
<title>User Login</title>
{% endblock title %}

<h2>Welcome to Login Page</h2>

{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">

{% for message in messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert {{ message.tags }}">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}

<div class='container'>
    <form method='POST' action="{% url 'login' %}" class="loginfrm mt-5 col-6">
        {% csrf_token %}
        <div class="ring">
            <i style="--clr:#00ff0a;"></i>
            <i style="--clr:#ff0057;"></i>
            <i style="--clr:#fffd44;"></i>
            <div class="login"><h2>Login</h2>
                <div class="inputBx">
                    <input type="text" name="username" placeholder="Username">
                </div>
                <div class="inputBx">
                    <input type="password" name="password" placeholder="Password">
                </div>
                <div class="inputBx">
                    <input type="submit" value="Sign in">
                </div>
                <div class="links">
                    <a href="#">Forget Password?</a>
                    <a href="{% url "register" %}">Signup</a>
                  </div>
            </div>
        </div>
    </form>
</br>
    
{% endblock content %}
