{% extends "main.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
<title>Logout</title>

{% endblock title %}
</br>
{% block content %}
<link rel="stylesheet" href="{% static "css/login.css" %}">
</br>
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
</br>
</br>
    <center><p class='h3'>you are logged out from the site <a class="coolBeans" href="{% url "login" %}">Click here</a></button> to login again</p></center>
</br>
</br>
</br>
</br>
    <center><p class='h1'>Thankyou for being with Us</p><center>
</form>
{% endblock content %}