{% extends "main.html" %}

{% load crispy_forms_tags %}

{% block title %}
<title>Logout</title>

{% endblock title %}
</br>
{% block content %}
</br>
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
</br>
</br>
    <center><p class='h3 text-white'>you are logged out from the site <button type="submit" class="btn btn-link">click here</button>to login</p></center>
</br>
</br>
</br>
</br>
    <center><p class='h1 text-white'>Thankyou for being with Us</p><center>
</form>
{% endblock content %}