{% extends "main.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
<title>User register</title>

{% endblock title %}
</br>
<h2>Welcome to Registration Page</h2>
{% block content %}
<script src="{% static 'js/register.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/register.css' %}">
</br>
{% for message in messages  %}
    <div class = "alert alert-success alert-dismissible fade show" role="alert">
        New user registration successful, login through your username and password
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}
<div class='container'>
    <form method='POST' class="loginfrm mt-5 col-6">
        {% csrf_token %}
        <div class="ring">
            <i style="--clr:#00ff0a;"></i>
            <i style="--clr:#ff0057;"></i>
            <i style="--clr:#fffd44;"></i>
            <div class="register"><h2>Sign up</h2>
        {{register_form|crispy}}
        <div class="d-grid gap-2 d-md-flex justify-content-md">
          <button class="pushable"><span class="front">Signup</span></button>
        </div>
    </div>
    </form>
</div>
<form action="{% url 'login' %}" class='mt-5 col-6'>
    {% csrf_token %}
    <p>Already have an account?</p>
    {{form|crispy}}
    <div class="d-grid gap-2 d-md-flex justify-content-md">
      <button class="pushable"><span class="front">Login</span></button>
    </div>
</form>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
{% endblock content %}