{% extends "main.html" %}

{% load crispy_forms_tags %}

{% block title %}
<title>User register</title>

{% endblock title %}
</br>
<h2>Welcome to Registration Page</h2>
{% block content %}
</br>
{% for message in messages  %}
    <div class = "alert alert-success alert-dismissible fade show" role="alert">
        New user registration successful, login through your username and password
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}
<div class='container'>
    <form method='POST' class='mt-5 col-6'>
        {% csrf_token %}
        {{register_form|crispy}}
        <button type='submit' class="btn btn-info btn-lg btn-block">Register</button>
    </form>
</div>
<form action="{% url 'login' %}" class='mt-5 col-6'>
    {% csrf_token %}
    <p>Already have an account?</p>
    {{form|crispy}}
    <button type="submit" class="btn btn-success btn-lg btn-block">Login</button>
</form>
{% endblock content %}